<div>
    <h2>{{ isEditMode ? 'Edit Product' : 'Add Product' }}</h2>
    <form [formGroup]="productForm" (ngSubmit)="saveProduct()">
        <label for="name">Name:</label>
        <input type="text" id="name" formControlName="name">
        <div
            *ngIf="productForm.controls['name'].invalid && (productForm.controls['name'].dirty || productForm.controls['name'].touched)">
            Name is required
        </div>
        <br>
        <label for="description">Description:</label>
        <input type="text" id="description" formControlName="description">
        <div
            *ngIf="productForm.controls['description'].invalid && (productForm.controls['description'].dirty || productForm.controls['description'].touched)">
            Description is required
        </div>
        <br>
        <label for="price">Price:</label>
        <input type="number" id="price" formControlName="price">
        <div
            *ngIf="productForm.controls['price'].invalid && (productForm.controls['price'].dirty || productForm.controls['price'].touched)">
            Price is required
        </div>
        <br>
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" formControlName="quantity">
        <div
            *ngIf="productForm.controls['quantity'].invalid && (productForm.controls['quantity'].dirty || productForm.controls['quantity'].touched)">
            Quantity is required
        </div>
        <br>
        <button type="submit" [disabled]="productForm.invalid">Save</button>
    </form>
</div>